html {
  font-family: "Open Sans", sans-serif;
  overflow-y: scroll;
}

body {
  font-size: 18px;
  line-height: 1.5;
}

.container {
  max-width: 700px;
}

.footnotes {
  line-height: 1.25;
}

.site-title {
  margin-top: 0px;
  font-size: 1.3em;
  font-weight: 600;
}

a:active {
  color: var(--link-state-color);
  border-bottom: 0px;
}

.common-header {
  padding-top: 1em;
  padding-bottom: 1.5em;
  border-bottom: 0px;
}

.common-header nav {
  margin-top: 0px;
}

.common-header nav a {
  font-size: 1.1em;
}

.common-footer {
  border-top: 0px;
}

.post-info {
  margin-top: 0px;
  font-size: 1em;
}

code {
  color: var(--link-state-color);
}


hr {
  overflow: visible;
  /* For IE */
  padding: 0;
  margin-top: 2em;
  margin-bottom: 2em;
}

.content h2:before {
  content: "§ ";
}

.content h2 {
  border-bottom: solid 1px black;
}

.content h3:before {
  content: "§§ ";
}

.content h3 {
  border-bottom: solid 1px black;
}

.content h4:before {
  content: "§§§ ";
}

.content h4 {
  border-bottom: solid 1px black;
}

.content h5:before {
  content: "§§§§ ";
  border-bottom: solid 1px black;
}

.content h5 {
  border-bottom: solid 1px black;
}

.publication {
  margin-bottom: 2em;
}

@media (max-width: 840px) {
  .container {
      padding-left: 1em;
      padding-right: 1em;
  }
}
